.clients .list {
  display: flex;
  color: var(--icons-color);
}

.clients .list-item {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  justify-content: center;

}

.hover-boder {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hover-boder:hover {
  border: 1px solid var(--active-color);
}

.client-logo {
  display: flex;
  width: 106px;
  height: 60px;
  align-content: center;
  fill: currentColor;
}

.hover-boder .link {
  width: 100%;
  height: 100%;
  justify-content: center;
}

.clients .list-item:not(:last-child) {
  margin-right: 30px;
}