.footer-page {
  background-color: var(--dark-background);
  color: var(--white-color);

}

.footer-page__container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
}
.footer-page__logo {
  margin-bottom: 20px;
}

.footer-page__logo-contact {
  margin-right: 70px;
  width: 231px;
}

.contact-block__item:not(:last-child) {
  margin-bottom: 9px;
}


.contact-block__item:not(:first-child) {
  color: var(--footer-contact-color);
}



.footer-page__title,
.subscription .list-item-title {
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-page__social-networks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 93px;
}

.network__link--dark-bg {
color: var(--white-color);
background-color: var(--footer-icon-bg-color);
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}


.subscription-form {
  display: flex;
  flex-direction: row;
}


.subscription-form__input {
  box-sizing: border-box;
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 0;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid var(--input-border-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-color);
}

.subscription-form__input::placeholder {
  color: var(--footer-contact-color);
  font-size: 16px;
  line-height: 1.25;
}



.subscription-form__text-btn {
  margin-right: 10px;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-color);
}

.subscription-form__icon {
  width: 24px;
  height: 24px;
  fill: var(--white-color);
  vertical-align: middle;

}