.team {
  background-color: var(--background-btn-color);
}

.team .list {
  display: flex;

}

.team-card {
  width: calc((100% - 90px) / 4);
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border-bottom: 1px solid var(--borders-color);
  text-align: center;
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.team-card .list-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.photo-team {
  margin-top: 0;
  margin-bottom: 30px;
}

.team-card>.list-item-text {
  margin-bottom: 16px;
}
.sn-item:not(:last-child) {
  margin-right: 10px;
}

.sn-item .link {
  display: flex;
  height: 44px;
  width: 44px;
  color: var(--icons-color);
  background-color: var(--white-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sn-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.sn-item .link:hover {
  color: var(--white-color);
  background-color: var(--active-color);
}